<a href="https://colab.research.google.com/github/driano1221/ControleEst/blob/main/C%C3%B3pia_de_UntitledPAULO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [143]:
import pandas as pd

# Substitua 'Base de dados - MEQ - Onda 5.csv' pelo caminho correto do arquivo
file_path = 'Base de dados - MEQ - Onda 5 (3).csv'

try:
    # Lê o arquivo CSV com o separador correto
    df = pd.read_csv(file_path, sep=';',decimal=',')

    # Lista das variáveis onde 6 deve ser substituído por NA
    vars_6_to_na = ['P3', 'P7', 'P10', 'P12', 'P13', 'P14', 'P181', 'P182']

    # Lista das variáveis onde 3 deve ser substituído por NA
    vars_3_to_na = ['P171', 'P172', 'P173', 'P174', 'P175', 'P176', 'P177', 'P178', 'P179']

    # Substituir 6 por NA nas variáveis especificadas
    for var in vars_6_to_na:
        df[var] = df[var].replace(6, pd.NA)

    # Substituir 3 por NA nas variáveis especificadas
    for var in vars_3_to_na:
        df[var] = df[var].replace(3, pd.NA)

    # Primeiro substituir 'D' por 'C' na variável P30
    df['P30'] = df['P30'].replace('D', 'C')

    # Depois converter A=1, B=2, C=3 na variável P30
    df['P30'] = df['P30'].replace({'A': 1, 'B': 2, 'C': 3})

    # Verificar as mudanças
    print("Mudanças realizadas com sucesso!")
    print("\nValores únicos em P30:", df['P30'].unique())

    # Opcional: salvar o DataFrame modificado em um novo arquivo
    # df.to_csv('Base de dados - MEQ - Onda 5 - modificado.csv', sep=';', index=False)

except FileNotFoundError:
    print(f"Erro: Arquivo '{file_path}' não encontrado.")
except pd.errors.ParserError:
    print(f"Erro: Não foi possível analisar o arquivo '{file_path}'. Verifique se o separador está correto.")
except Exception as e:
    print(f"Ocorreu um erro inesperado: {e}")

Mudanças realizadas com sucesso!

Valores únicos em P30: [1 2 3]

<ipython-input-143-9f9232a849f6>:28: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['P30'] = df['P30'].replace({'A': 1, 'B': 2, 'C': 3})

In [144]:
# Verificação das mudanças (opcional)
for var in vars_6_to_na:
    print(f"\nValores únicos em {var}:", df[var].unique())

for var in vars_3_to_na:
    print(f"\nValores únicos em {var}:", df[var].unique())

print("\nValores únicos em P30:", df['P30'].unique())

Valores únicos em P3: [3 1 <NA> 4 2 5]

Valores únicos em P7: [2 1 5 4 <NA> 3]

Valores únicos em P10: [2 5 3 1 4 <NA>]

Valores únicos em P12: [5 4 2 3 1 <NA>]

Valores únicos em P13: [3 2 1 4 5 <NA>]

Valores únicos em P14: [2 5 4 3 1 <NA>]

Valores únicos em P181: [5 4 3 2 1 <NA>]

Valores únicos em P182: [3 5 4 2 1 <NA>]

Valores únicos em P171: [1 <NA> 2]

Valores únicos em P172: [2 1 <NA>]

Valores únicos em P173: [2 1 <NA>]

Valores únicos em P174: [2 1 <NA>]

Valores únicos em P175: [1 <NA> 2]

Valores únicos em P176: [1 2 <NA>]

Valores únicos em P177: [2 1 <NA>]

Valores únicos em P178: [<NA> 1 2]

Valores únicos em P179: [1 <NA> 2]

Valores únicos em P30: [1 2 3]

In [145]:
df['Peso'].describe()

count    1520.000000
mean        1.000020
std         1.073594
min         0.030000
25%         0.260000
50%         0.770000
75%         1.260000
max         7.090000
Name: Peso, dtype: float64

In [146]:

df['P30'] = df['P30'].replace({'A': 1, 'B': 2, 'C': 3})
df
print(df['P30'].describe())

count    1520.000000
mean        2.279605
std         0.815489
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         3.000000
Name: P30, dtype: float64

In [147]:
import pandas as pd

dicionario = {
    "F2": {
        "Feminino": 1,
        "Masculino": 2
    },
    "F3": {
        "Centro-Oeste" : 1,
        "Nordeste" : 2,
        "Norte" : 3,
        "Sudeste" : 4,
        "Sul" : 5
    },
    "F6": {
        "18 a 24 anos" : 1,
        "25 a 34 anos" : 2,
        "35 a 44 anos" : 3,
        "45 a 64 anos" : 4
    },
    "P0,1": {
        "Algumas vezes por mês" : 3,
        "Não faço isso" : 5,
        "Pelo menos 3 vezes por semana" : 2,
        "Raramente" : 4,
        "Todos os dias" : 1

    },
    "P0,2": {
        "Algumas vezes por mês" : 3,
        "Não faço isso" : 5,
        "Pelo menos 3 vezes por semana" : 2,
        "Raramente" : 4,
        "Todos os dias" : 1

    },
    "P0,3": {
        "Algumas vezes por mês" : 3,
        "Não faço isso" : 5,
        "Pelo menos 3 vezes por semana" : 2,
        "Raramente" : 4,
        "Todos os dias" : 1

    },
    "P0,4": {
        "Algumas vezes por mês" : 3,
        "Não faço isso" : 5,
        "Pelo menos 3 vezes por semana" : 2,
        "Raramente" : 4,
        "Todos os dias" : 1

    },
    "P0,5": {
        "Algumas vezes por mês" : 3,
        "Não faço isso" : 5,
        "Pelo menos 3 vezes por semana" : 2,
        "Raramente" : 4,
        "Todos os dias" : 1

    },
    "P1": {
        "Não, nunca ouvi falar" : 3,
        "Sim" : 1,
        "Talvez, mas não tenho certeza" : 2

    },
    "P3": {
        "Concordo totalmente" : 5,
        "Discordo Totalmente" : 1,
        "Concordo em parte" : 4,
        "Discordo em parte" : 2,
        "Não sei avaliar" : "NA",
        "Nem concordo, nem discordo" : 3
    },
    "P5": {
        "A" : 1,
        "B" : 2,
        "C" : 3,
        "D" : 4,
        "E" : 5
    },
    "P7": {
        "1 - Muito prejudiciais" : 1,
        "2 - Pouco prejudiciais" : 2,
        "3 - Indiferente" : 3,
        "4 - Pouco benéficos" : 4,
        "5 - Muito Benéficos" : 5,
        "Não sei avaliar" : "NA"


    },
    "P30": {
        "A" : 1,
        "B" : 2,
        "C" : 3,
        "D" : "NA"
    },
    "P10": {
        "1 - Muito prejudiciais" : 1,
        "2 - Pouco prejudiciais" : 2,
        "3 - Indiferente" : 3,
        "4 - Pouco benéficos" : 4,
        "5 - Muito Benéficos" : 5,
        "Não sei avaliar" : "NA"


    },
    "P11": {
        "BP" : 1,
        "Equinor" : 2,
        "Nenhuma dessa lista" : 3,
        "Petrobras" : 4,
        "Shell" : 5,
        "Sou indiferente" : 7,
        "TotalEnergies" : 8


    },
    "P12": {
        "Concordo totalmente" : 5,
        "Discordo Totalmente" : 1,
        "Concordo em parte" : 4,
        "Discordo em parte" : 2,
        "Não sei avaliar" : "NA",
        "Nem concordo, nem discordo" : 3
    },
    "P13": {
        "Concordo totalmente" : 5,
        "Discordo Totalmente" : 1,
        "Concordo em parte" : 4,
        "Discordo em parte" : 2,
        "Não sei avaliar" : "NA",
        "Nem concordo, nem discordo" : 3
    },
    "P14": {
        "Concordo totalmente" : 5,
        "Discordo Totalmente" : 1,
        "Concordo em parte" : 4,
        "Discordo em parte" : 2,
        "Não sei avaliar" : "NA",
        "Nem concordo, nem discordo" : 3
    },
    "P17,1": {
        "Confio" : 1,
        "Não confio" : 2,
        "Não sei" : "NA"
    },
    "P17,2": {
        "Confio" : 1,
        "Não confio" : 2,
        "Não sei" : "NA"
    },
    "P17,3": {
        "Confio" : 1,
        "Não confio" : 2,
        "Não sei" : "NA"
    },
    "P17,4": {
        "Confio" : 1,
        "Não confio" : 2,
        "Não sei" : "NA"
    },
    "P17,5": {
        "Confio" : 1,
        "Não confio" : 2,
        "Não sei" : "NA"
    },
    "P17,6": {
        "Confio" : 1,
        "Não confio" : 2,
        "Não sei" : "NA"
    },
    "P17,7": {
        "Confio" : 1,
        "Não confio" : 2,
        "Não sei" : "NA"
    },
    "P17,8": {
        "Confio" : 1,
        "Não confio" : 2,
        "Não sei" : "NA"
    },
    "P17,9": {
        "Confio" : 1,
        "Não confio" : 2,
        "Não sei" : "NA"
    },
    "P18,1": {
        "Concordo totalmente" : 5,
        "Discordo Totalmente" : 1,
        "Concordo em parte" : 4,
        "Discordo em parte" : 2,
        "Não sei avaliar" : "NA",
        "Nem concordo, nem discordo" : 3
    },
    "P18,2": {
        "Concordo totalmente" : 5,
        "Discordo Totalmente" : 1,
        "Concordo em parte" : 4,
        "Discordo em parte" : 2,
        "Não sei avaliar" : "NA",
        "Nem concordo, nem discordo" : 3
    }
}

base = pd.read_excel("base_python (1).xlsx")

for coluna, substituicoes in dicionario.items():
    if coluna in base.columns:
        base[coluna] = base[coluna].replace(substituicoes)

<ipython-input-147-3dc36061398f>:210: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  base[coluna] = base[coluna].replace(substituicoes)

In [148]:
base.columns

Index(['ID de resposta', 'Endereço de IP', 'Variável Personalizada 1', 'RID',
       'UF_0', 'UF', 'F3', 'F6', 'F2', 'F7', 'P30', 'P0,1', 'P0,2', 'P0,3',
       'P0,4', 'P0,5', 'P1', 'P2', 'P3', 'P5', 'P7', 'P8', 'P8_1', 'P8_2',
       'P8_3', 'P8_4', 'P8_5', 'P8_6', 'P8_7', 'P8_8', 'P8_9', 'P8_97',
       'P8_99', 'P9_1', 'P9_2', 'P9_3', 'P9_4', 'P9_5', 'P9_6', 'P9_7',
       'P9_97', 'P9_99', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15', 'P17,1',
       'P17,2', 'P17,3', 'P17,4', 'P17,5', 'P17,6', 'P17,7', 'P17,8', 'P17,9',
       'P18,1', 'P18,2', 'P21', 'P22', 'P23', 'P26', 'P27', 'Peso'],
      dtype='object')

In [149]:
# prompt: mostar head das primeiras 10 variáveis de base, e  depois mostrar o summary da coluna Peso

print(base.head(10))
print("\nSummary da coluna 'Peso':")
print(base['Peso'].describe())

   ID de resposta                          Endereço de IP  \
0       150052588                          191.241.129.94
1       150052636                          45.161.152.233
2       150052711   2804:d47:6605:d00:3fb3:b783:7aaa:300f
3       150052712                           201.1.219.105
4       150052810  2804:1b3:a1c0:55b1:d79e:9bbe:b2c8:a02e
5       150052813  2804:14d:68b0:8186:20a3:94ec:ef48:6b5d
6       150052869                           168.0.148.175
7       150052894                          177.192.23.167
8       150052956                           179.106.81.68
9       150052966    2804:1eb0:c0:c9f:8c56:5b49:2b3f:805a

   Variável Personalizada 1                                   RID UF_0  \
0                      31.0  6745f60b-56b6-68ee-0a8e-8961b5e89bc1   SE
1                      54.0  6745f620-e646-561b-a76e-9301c79fc842   RJ
2                      43.0  6745f640-48e5-f687-edf1-52b57f4d3ec3   SE
3                      44.0  6745f644-4b12-9488-8031-61b0274f3844   SP
4                      48.0  6745f65c-c38b-cfe1-7472-34ec156585c8   SP
5                      28.0  6745f674-39ed-cf41-5720-4a0cee9ea5e4   SP
6                      49.0  6745f685-4b49-7369-0302-6f290dd309b8   RS
7                      36.0  6745f67e-bd14-85f0-18d0-47dda85d4559   RJ
8                      21.0  6745f6b2-4aa0-8f4b-2d46-22eb5c85c08c   MG
9                      34.0  6745f6af-ecc7-7add-a3b8-f61b1bc54968   CE

                  UF  F3  F6  F2  F7  P30  P0,1  P0,2  P0,3  P0,4  P0,5  P1  \
0            Sergipe   2   3   1   7    2     4     3     1     2     2   1
1     Rio de Janeiro   4   2   1   7    1     1     1     1     2     2   2
2            Sergipe   2   3   2   8    2     2     2     1     3     4   2
3          São Paulo   4   4   1   7    2     1     1     1     4     5   3
4          São Paulo   4   3   1   8    1     1     1     1     5     3   3
5          São Paulo   4   4   1   4    3     1     1     1     1     2   2
6  Rio Grande do Sul   5   2   2   7    1     4     2     1     3     4   2
7     Rio de Janeiro   4   3   1   7    2     3     3     2     2     2   3
8       Minas Gerais   4   3   1   7    3     4     4     1     5     5   3
9              Ceará   2   2   1   7    2     4     2     1     5     4   2

   P2 P3  P5 P7                                                 P8  P8_1  \
0  17  1   3  1            Riscos à vida marinha;Riscos aos corais     1
1  10  2   1  4                                                NaN     2
2  17  2   1  1  Poluição das florestas;Prejuízo às atividades ...     1
3  99  1   2  5                                                NaN     2
4  99  3   3  4                                                NaN     2
5  99  1   1  1  Poluição dos rios;Poluição das florestas;Preju...     1
6   1  1   3  5                                                NaN     2
7  99  4   3  4                                                NaN     2
8  99  2   5  1           Poluição dos rios;Poluição das florestas     2
9   6  1   3  2  Prejuízo às atividades de pesca;Riscos à vida ...     1

   P8_2  P8_3  P8_4  P8_5  P8_6  P8_7  P8_8  P8_9  P8_97  P8_99  P9_1  P9_2  \
0     2     2     1     2     2     2     2     2      2      2     2     2
1     2     2     2     2     2     2     2     2      2      2     2     2
2     2     1     2     1     1     1     2     2      2      2     2     2
3     2     2     2     2     2     2     2     2      2      2     2     2
4     2     2     2     2     2     2     2     2      2      2     2     2
5     1     1     1     1     1     1     1     2      2      2     2     2
6     2     2     2     2     2     2     2     2      2      2     1     1
7     2     2     2     2     2     2     2     2      2      2     1     1
8     1     2     2     2     1     2     2     2      2      2     2     2
9     2     1     1     1     2     2     2     2      2      2     2     2

   P9_3  P9_4  P9_5  P9_6  P9_7  P9_97  P9_99 P10  P11 P12 P13 P14  P15 P17,1  \
0     2     2     2     2     2      2      2   3    3   3   2   3    5    NA
1     1     2     2     2     2      2      2   3    1   1   4   4    9     2
2     2     2     2     2     2      2      2   4    4   4   4   5    7     1
3     1     1     2     2     2      2      2   5    4   5   5   5    8     2
4     1     2     2     2     2      2      2   4    2   4   4   5    9     1
5     2     2     2     2     2      2      2   1    4   4   1   5   10     1
6     1     1     1     2     2      2      2   5    5   2   2   2    5     2
7     1     1     2     2     2      2      2   2    4   4   4   4    8     1
8     2     2     2     2     2      2      2   5    7   2   4   3    6     2
9     2     2     2     2     2      2      2   5    4   5   5   5   10     1

  P17,2 P17,3 P17,4 P17,5 P17,6 P17,7 P17,8 P17,9 P18,1 P18,2  \
0     1     2     2     2     1     2     1     2     2     1
1     1     1     1     1     1     2     2     1     3     4
2    NA    NA     1     1     1     2    NA     2     4     2
3     2     1     2     2     2     2     2     1     5     5
4     1     2     1     1     1     2     1     2     5     4
5     1     1     1     2     2     2     1     1     5     4
6     2     2     2     2     2     2     2     1     2     4
7     1     1     1     2     2     2     1     1     4     3
8     2    NA     2     2     2     2     2    NA     3     4
9     1     1     1     2     2     2     1     2     5     5

                                                 P21        P22       P23  \
0                             Nenhuma das anteriores   Feminino   Sudeste
1                             Nenhuma das anteriores   Feminino   Sudeste
2                             Nenhuma das anteriores  Masculino       Sul
3  Área financeira (bancos, seguradoras, financei...  Masculino   Sudeste
4                             Nenhuma das anteriores   Feminino       Sul
5                             Nenhuma das anteriores   Feminino   Sudeste
6                             Nenhuma das anteriores  Masculino  Nordeste
7  Área financeira (bancos, seguradoras, financei...   Feminino   Sudeste
8                             Nenhuma das anteriores   Feminino   Sudeste
9                             Nenhuma das anteriores   Feminino   Sudeste

            P26                                  P27  Peso
0  25 a 34 anos             ensino superior completo  0.75
1  35 a 44 anos  pós-graduação / mestrado/ doutorado  0.15
2  25 a 34 anos             ensino superior completo  0.49
3  35 a 44 anos             ensino superior completo  1.29
4  35 a 44 anos             ensino superior completo  0.15
5  25 a 34 anos             ensino superior completo  1.78
6  25 a 34 anos             ensino superior completo  0.24
7  35 a 44 anos             ensino superior completo  0.62
8  25 a 34 anos  pós-graduação / mestrado/ doutorado  2.06
9  25 a 34 anos             ensino superior completo  1.04

Summary da coluna 'Peso':
count    1510.000000
mean        0.992305
std         0.901660
min         0.020000
25%         0.250000
50%         0.730000
75%         1.620000
max         4.780000
Name: Peso, dtype: float64

In [150]:
print(base['P30'].describe())

count    1510.000000
mean        2.278146
std         0.816163
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         3.000000
Name: P30, dtype: float64

In [151]:
# Renomear P01 até P05
df = df.rename(columns={
    'P01': 'P0.1',
    'P02': 'P0.2',
    'P03': 'P0.3',
    'P04': 'P0.4',
    'P05': 'P0.5',
    'P171': 'P17.1',
    'P172': 'P17.2',
    'P173': 'P17.3',
    'P174': 'P17.4',
    'P175': 'P17.5',
    'P176': 'P17.6',
    'P177': 'P17.7',
    'P178': 'P17.8',
    'P179': 'P17.9',
    'P181': 'P18.1',
    'P182': 'P18.2'
})

In [152]:
# Renomear as variáveis
base = base.rename(columns={
    'ID de resposta': 'ID',
    'P0,1': 'P0.1',
    'P0,2': 'P0.2',
    'P0,3': 'P0.3',
    'P0,4': 'P0.4',
    'P0,5': 'P0.5',
    'P17,1': 'P17.1',
    'P17,2': 'P17.2',
    'P17,3': 'P17.3',
    'P17,4': 'P17.4',
    'P17,5': 'P17.5',
    'P17,6': 'P17.6',
    'P17,7': 'P17.7',
    'P17,8': 'P17.8',
    'P17,9': 'P17.9',
    'P18,1': 'P18.1',
    'P18,2': 'P18.2'
})

In [153]:
# Criar coluna identificadora em cada base
df['Onda'] = 5
base['Onda'] = 6

# Concatenar as bases
base_completa = pd.concat([df, base], ignore_index=True)

In [154]:
base_completa["P18.2"].unique()

array([3, 5, 4, 2, 1, <NA>, 'NA'], dtype=object)

In [155]:
# prompt: nome colunas da base_completa

base_completa.columns

Index(['ID', 'UF', 'F3', 'F6', 'F2', 'P30', 'Peso', 'F7', 'F8', 'F9', 'P0.1',
       'P0.2', 'P0.3', 'P0.4', 'P0.5', 'P1', 'P2', 'P3', 'P5', 'P7', 'P10',
       'P11', 'P12', 'P13', 'P14', 'P15', 'P17.1', 'P17.2', 'P17.3', 'P17.4',
       'P17.5', 'P17.6', 'P17.7', 'P17.8', 'P17.9', 'P18.1', 'P18.2', 'P8_1',
       'P8_2', 'P8_3', 'P8_4', 'P8_5', 'P8_6', 'P8_7', 'P8_8', 'P8_9', 'P9_1',
       'P9_2', 'P9_3', 'P9_4', 'P9_5', 'P9_6', 'P9_7', 'P83', 'P81', 'P84',
       'P82', 'P85', 'P86', 'P87', 'P88', 'P89', 'P91', 'P92', 'P93', 'P94',
       'P95', 'P96', 'P97', 'Onda', 'Endereço de IP',
       'Variável Personalizada 1', 'RID', 'UF_0', 'P8', 'P8_97', 'P8_99',
       'P9_97', 'P9_99', 'P21', 'P22', 'P23', 'P26', 'P27'],
      dtype='object')

In [156]:
variaveis_manter = [
    'P30',
    'ID',  # Identificador
    'UF',  # Unidade Federativa
    'F2',  # Gênero
    'F3',  # Região do país
    'F6',  # Idade
    'P0.1', # Frequência assistir noticiário TV
    'P0.2', # Frequência ler notícias internet
    'P0.3', # Frequência acessar redes sociais
    'P0.4', # Frequência ouvir notícias rádio
    'P0.5', # Frequência ler jornais e revistas
    'P1',   # Conhecimento sobre Margem Equatorial
    'P3',   # Conhecimento sobre projetos Margem Equatorial
    'P5',   # Questão sobre o mapa
    'P7',   # Efeitos socioambientais
    'P8_1', # Poluição rios
    'P8_2', # Poluição florestas
    'P8_3', # Prejuízo pesca
    'P8_4', # Riscos vida marinha
    'P8_5', # Riscos corais
    'P8_6', # Prejuízos comunidades locais
    'P8_7', # Prejuízos povos indígenas
    'P8_8', # Riscos países vizinhos
    'P8_9', # Nenhum efeito negativo
    'P9_1', # Construção hospitais
    'P9_2', # Construção escolas
    'P9_3', # Melhoria infraestrutura
    'P9_4', # Apoio projetos ambientais
    'P9_5', # Oferta emprego
    'P9_6', # Atração investimentos
    'P9_7', # Nenhum efeito positivo
    'P10',  # Efeitos econômicos
    'P11',  # Preferência empresa
    'P12',  # Expertise Petrobras
    'P13',  # Preocupação socioambiental Petrobras
    'P14',  # Contribuição desenvolvimento
    'P15',  # Importância investimento
    'P17.1', # Confiança Ministério Meio Ambiente
    'P17.2', # Confiança IBAMA
    'P17.3', # Confiança Petrobras
    'P17.4', # Confiança Ministério Minas e Energia
    'P17.5', # Confiança STF
    'P17.6', # Confiança Governo Federal
    'P17.7', # Confiança Governos estaduais
    'P17.8', # Confiança Greenpeace
    'P17.9', # Confiança empresas petrolíferas estrangeiras
    'P18.1', # Capacidade Petrobras explorar com segurança
    'P18.2', # Benefícios justificam investimento
    'Peso',  # Peso amostral
    'Onda'   # Identificador da onda
]

# Para filtrar a base apenas com essas variáveis:
base_filtrada = base_completa[variaveis_manter]

In [157]:
base_filtrada

,P30,ID,UF,F2,F3,F6,P0.1,P0.2,P0.3,P0.4,P0.5,P1,P3,P5,P7,P8_1,P8_2,P8_3,P8_4,P8_5,P8_6,P8_7,P8_8,P8_9,P9_1,P9_2,P9_3,P9_4,P9_5,P9_6,P9_7,P10,P11,P12,P13,P14,P15,P17.1,P17.2,P17.3,P17.4,P17.5,P17.6,P17.7,P17.8,P17.9,P18.1,P18.2,Peso,Onda
0,1,403,7,1,1,1,4,4,1,5,4,3,3,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,8,5,3,2,10,1,2,2,2,1,1,2,<NA>,1,5,3,0.14,5
1,1,602,9,1,1,1,5,1,1,5,5,2,3,3,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,5,5,4,2,5,10,1,1,1,1,1,1,1,1,<NA>,4,5,0.14,5
2,1,516,9,1,1,1,3,2,2,4,4,2,3,4,1,1,2,1,1,2,2,2,2,2,2,2,2,2,2,2,2,3,5,5,2,4,10,1,1,1,<NA>,<NA>,1,2,<NA>,2,4,4,0.14,5
3,1,2927,7,1,1,1,1,1,1,2,4,3,1,1,2,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,5,6,4,3,4,10,1,1,1,1,<NA>,1,1,1,<NA>,3,2,0.14,5
4,2,210,12,1,1,1,1,1,1,4,4,3,1,3,1,2,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,5,2,1,3,5,<NA>,<NA>,2,2,2,2,2,1,2,2,2,0.56,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,3,151776882,Goiás,2,1,4,1,1,1,1,5,1,5,3,5,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,2,5,4,5,5,5,10,2,2,1,2,2,1,2,2,1,5,5,2.07,6
3026,1,151776928,Distrito Federal,1,1,2,1,1,1,1,2,1,3,4,4,2,2,2,2,2,2,2,2,2,2,2,1,2,2,2,2,5,4,5,4,4,8,1,1,NA,NA,1,1,NA,1,2,5,3,0.08,6
3027,1,151777090,Santa Catarina,2,5,4,1,1,1,3,4,3,1,3,NA,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,5,4,5,4,4,10,2,2,1,2,2,2,2,1,2,5,5,0.10,6
3028,3,151777439,Amapá,2,3,1,2,1,2,3,1,2,3,3,3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,2,3,3,4,6,1,NA,2,2,NA,1,1,1,NA,4,4,0.31,6
3029,1,151778884,Pará,2,3,1,2,1,1,4,1,1,5,1,2,1,1,1,2,2,1,2,2,2,2,2,2,2,2,2,2,1,4,5,5,5,9,1,1,1,1,1,1,1,1,2,5,3,0.04,6

In [158]:
import pandas as pd
import numpy as np
grupos_analise = {
    'Feminino': {'variavel': 'F2', 'valor': 1, 'descricao': 'feminino'},
    'Masculino': {'variavel': 'F2', 'valor': 2, 'descricao': 'masculino'},
    'Centro_Oeste': {'variavel': 'F3', 'valor': 1, 'descricao': 'Centro-Oeste'},
    'Nordeste': {'variavel': 'F3', 'valor': 2, 'descricao': 'Nordeste'},
    'Norte': {'variavel': 'F3', 'valor': 3, 'descricao': 'Norte'},
    'Sudeste': {'variavel': 'F3', 'valor': 4, 'descricao': 'Sudeste'},
    'Sul': {'variavel': 'F3', 'valor': 5, 'descricao': 'Sul'},
    'ClasseA': {'variavel': 'P30', 'valor': 1, 'descricao': 'A'},
    'ClasseB': {'variavel': 'P30', 'valor': 2, 'descricao': 'B'},
    'ClasseC': {'variavel': 'P30', 'valor': 3, 'descricao': 'C'},
    'Idade_18_24': {'variavel': 'F6', 'valor': 1, 'descricao': '18 a 24 anos'},
    'Idade_25_34': {'variavel': 'F6', 'valor': 2, 'descricao': '25 a 34 anos'},
    'Idade_35_44': {'variavel': 'F6', 'valor': 3, 'descricao': '35 a 44 anos'},
    'Idade_45_64': {'variavel': 'F6', 'valor': 4, 'descricao': '45 a 64 anos'}
}
# Lista de variáveis para análise
variaveis = [
    'F2', 'F3', 'F6',
    'P0.1', 'P0.2', 'P0.3', 'P0.4', 'P0.5',
    'P1', 'P3', 'P5', 'P7',
    'P8_1', 'P8_2', 'P8_3', 'P8_4', 'P8_5', 'P8_6', 'P8_7', 'P8_8', 'P8_9',
    'P9_1', 'P9_2', 'P9_3', 'P9_4', 'P9_5', 'P9_6', 'P9_7',
    'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
    'P17.1', 'P17.2', 'P17.3', 'P17.4', 'P17.5', 'P17.6', 'P17.7', 'P17.8', 'P17.9',
    'P18.1', 'P18.2','P30'
]

# Função para calcular estatísticas
def calcular_estatisticas(df, variaveis):
    resultados = []

    for var in variaveis:
        for onda in df['Onda'].unique():
            dados_onda = df[df['Onda'] == onda]

            dados_onda[var] = pd.to_numeric(dados_onda[var], errors='coerce')

            n = dados_onda[var].count()
            media = dados_onda[var].mean()
            desvio = dados_onda[var].std()
            erro_padrao = desvio / np.sqrt(n) if n > 0 else np.nan

            resultados.append({
                'Variavel': var,
                'Onda': f"{onda}ª - Geral",
                'N': n,
                'Media': media,
                'Desvio': desvio,
                'Erro_Padrao': erro_padrao
            })

    return pd.DataFrame(resultados)

# Calcular estatísticas
estatisticas = calcular_estatisticas(base_filtrada, variaveis)

# Exibir resultados
print(estatisticas)

# Salvar em Excel
# estatisticas.to_excel('estatisticas_por_ondag.xlsx', index=False)

   Variavel        Onda     N     Media    Desvio  Erro_Padrao
0        F2  5ª - Geral  1520  1.446711  0.497316     0.012756
1        F2  6ª - Geral  1510  1.450331  0.497692     0.012808
2        F3  5ª - Geral  1520  3.196711  1.240682     0.031823
3        F3  6ª - Geral  1510  3.190728  1.244490     0.032026
4        F6  5ª - Geral  1520  2.618421  1.025252     0.026297
..      ...         ...   ...       ...       ...          ...
87    P18.1  6ª - Geral  1474  3.938942  1.163633     0.030309
88    P18.2  5ª - Geral  1464  3.592213  1.257527     0.032866
89    P18.2  6ª - Geral  1465  3.896246  1.127230     0.029451
90      P30  5ª - Geral  1520  2.279605  0.815489     0.020917
91      P30  6ª - Geral  1510  2.278146  0.816163     0.021003

[92 rows x 6 columns]

<ipython-input-158-e2875b5a021d>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_onda[var] = pd.to_numeric(dados_onda[var], errors='coerce')

In [159]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter

def calcular_estatisticas_ponderadas(df, variaveis, grupo_nome='Geral'):
    resultados = []

    for var in variaveis:
        for onda in df['Onda'].unique():
            dados_onda = df[df['Onda'] == onda].copy()

            # Converter para numérico e remover NAs
            dados_onda[var] = pd.to_numeric(dados_onda[var], errors='coerce')
            dados_onda['Peso'] = pd.to_numeric(dados_onda['Peso'], errors='coerce')

            # Remover linhas com NA na variável ou no peso
            validos = dados_onda[[var, 'Peso']].dropna()
            valores = validos[var]
            pesos = validos['Peso']

            n = len(validos)  # Número de observações válidas
            soma_pesos = pesos.sum()

            if n == 0 or soma_pesos == 0:
                media = desvio = erro_padrao = np.nan
            else:
                # Cálculos ponderados
                media = np.average(valores, weights=pesos)

                # Variância ponderada
                variancia = np.sum(pesos * (valores - media)**2) / soma_pesos
                desvio = np.sqrt(variancia)

                # Erro padrão considerando pesos
                erro_padrao = desvio / np.sqrt(soma_pesos)

            resultados.append({
                'Variável': var,
                'Grupo': grupo_nome,
                'Onda': f"Onda {int(onda)}",
                'N': n,
                'Soma_Pesos': soma_pesos,
                'Média': media,
                'Desvio_Padrão': desvio,
                'Erro_Padrão': erro_padrao
            })

    return pd.DataFrame(resultados)

In [160]:

# Análise da base_filtrada
print("\n--- Análise da base_filtrada ---")
print("\nHead da base filtrada:")
pd.set_option('display.max_columns', None)
print(base_filtrada.head())

print("\nEstatísticas descritivas:")
print(base_filtrada.describe(include='all'))

print("\nPorcentagem de valores nulos por coluna:")
print(base_filtrada.isnull().sum() * 100 / len(base_filtrada))

--- Análise da base_filtrada ---

Head da base filtrada:
   P30    ID  UF  F2  F3  F6  P0.1  P0.2  P0.3  P0.4  P0.5  P1 P3  P5 P7  \
0    1   403   7   1   1   1     4     4     1     5     4   3  3   2  2
1    1   602   9   1   1   1     5     1     1     5     5   2  3   3  1
2    1   516   9   1   1   1     3     2     2     4     4   2  3   4  1
3    1  2927   7   1   1   1     1     1     1     2     4   3  1   1  2
4    2   210  12   1   1   1     1     1     1     4     4   3  1   3  1

   P8_1  P8_2  P8_3  P8_4  P8_5  P8_6  P8_7  P8_8  P8_9  P9_1  P9_2  P9_3  \
0     2     1     2     2     2     2     2     2     2     2     2     2
1     2     2     2     2     2     2     2     2     2     2     2     2
2     1     2     1     1     2     2     2     2     2     2     2     2
3     1     1     1     1     1     1     1     1     2     2     2     2
4     2     1     2     2     2     2     2     2     2     2     2     2

   P9_4  P9_5  P9_6  P9_7 P10  P11 P12 P13 P14  P15 P17.1 P17.2 P17.3 P17.4  \
0     2     2     2     2   2    8   5   3   2   10     1     2     2     2
1     2     2     2     2   5    5   4   2   5   10     1     1     1     1
2     2     2     2     2   3    5   5   2   4   10     1     1     1  <NA>
3     2     2     2     2   5    6   4   3   4   10     1     1     1     1
4     2     2     2     2   1    5   2   1   3    5  <NA>  <NA>     2     2

  P17.5 P17.6 P17.7 P17.8 P17.9 P18.1 P18.2  Peso  Onda
0     1     1     2  <NA>     1     5     3  0.14     5
1     1     1     1     1  <NA>     4     5  0.14     5
2  <NA>     1     2  <NA>     2     4     4  0.14     5
3  <NA>     1     1     1  <NA>     3     2  0.14     5
4     2     2     2     1     2     2     2  0.56     5

Estatísticas descritivas:
                P30            ID         UF           F2           F3  \
count   3030.000000  3.030000e+03       3030  3030.000000  3030.000000
unique          NaN           NaN         54          NaN          NaN
top             NaN           NaN  São Paulo          NaN          NaN
freq            NaN           NaN        238          NaN          NaN
mean       2.278878  7.525336e+07        NaN     1.448515     3.193729
std        0.815691  7.551346e+07        NaN     0.497424     1.242379
min        1.000000  8.000000e+00        NaN     1.000000     1.000000
25%        2.000000  1.215000e+03        NaN     1.000000     2.000000
50%        3.000000  2.923500e+03        NaN     1.000000     3.000000
75%        3.000000  1.509513e+08        NaN     2.000000     4.000000
max        3.000000  1.517789e+08        NaN     2.000000     5.000000

                 F6         P0.1         P0.2         P0.3         P0.4  \
count   3030.000000  3030.000000  3030.000000  3030.000000  3030.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       2.618152     2.145215     1.728053     1.214851     3.211221
std        1.022881     1.426776     1.084711     0.654399     1.505884
min        1.000000     1.000000     1.000000     1.000000     1.000000
25%        2.000000     1.000000     1.000000     1.000000     2.000000
50%        3.000000     1.000000     1.000000     1.000000     4.000000
75%        3.000000     3.000000     2.000000     1.000000     5.000000
max        4.000000     5.000000     5.000000     5.000000     5.000000

               P0.5           P1      P3           P5      P7         P8_1  \
count   3030.000000  3030.000000  2728.0  3030.000000  2907.0  3030.000000
unique          NaN          NaN     6.0          NaN     6.0          NaN
top             NaN          NaN     1.0          NaN     1.0          NaN
freq            NaN          NaN   948.0          NaN   965.0          NaN
mean       3.485149     2.167327     NaN     2.507591     NaN     1.632013
std        1.356158     0.781125     NaN     1.269201     NaN     0.482337
min        1.000000     1.000000     NaN     1.000000     NaN     1.000000
25%        2.000000     2.000000     NaN     1.000000     NaN     1.000000
50%        4.000000     2.000000     NaN     3.000000     NaN     2.000000
75%        5.000000     3.000000     NaN     3.000000     NaN     2.000000
max        5.000000     3.000000     NaN     5.000000     NaN     2.000000

               P8_2         P8_3         P8_4         P8_5         P8_6  \
count   3030.000000  3030.000000  3030.000000  3030.000000  3030.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       1.678218     1.735314     1.749835     1.786469     1.803630
std        0.467237     0.441239     0.433179     0.409867     0.397317
min        1.000000     1.000000     1.000000     1.000000     1.000000
25%        1.000000     1.000000     1.250000     2.000000     2.000000
50%        2.000000     2.000000     2.000000     2.000000     2.000000
75%        2.000000     2.000000     2.000000     2.000000     2.000000
max        2.000000     2.000000     2.000000     2.000000     2.000000

               P8_7         P8_8         P8_9         P9_1         P9_2  \
count   3030.000000  3030.000000  3030.000000  3030.000000  3030.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       1.833993     1.910891     1.988779     1.805281     1.825083
std        0.372148     0.284948     0.105351     0.396050     0.379959
min        1.000000     1.000000     1.000000     1.000000     1.000000
25%        2.000000     2.000000     2.000000     2.000000     2.000000
50%        2.000000     2.000000     2.000000     2.000000     2.000000
75%        2.000000     2.000000     2.000000     2.000000     2.000000
max        2.000000     2.000000     2.000000     2.000000     2.000000

               P9_3         P9_4         P9_5         P9_6         P9_7  \
count   3030.000000  3030.000000  3030.000000  3030.000000  3030.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       1.840594     1.826073     1.925083     1.923762     1.987129
std        0.366115     0.379110     0.263302     0.265422     0.112738
min        1.000000     1.000000     1.000000     1.000000     1.000000
25%        2.000000     2.000000     2.000000     2.000000     2.000000
50%        2.000000     2.000000     2.000000     2.000000     2.000000
75%        2.000000     2.000000     2.000000     2.000000     2.000000
max        2.000000     2.000000     2.000000     2.000000     2.000000

           P10          P11     P12     P13     P14          P15   P17.1  \
count   2908.0  3030.000000  2931.0  2931.0  2972.0  3030.000000  2787.0
unique     6.0          NaN     6.0     6.0     6.0          NaN     3.0
top        5.0          NaN     5.0     5.0     5.0          NaN     1.0
freq    1311.0          NaN  1239.0   964.0  1242.0          NaN  1879.0
mean       NaN     4.866997     NaN     NaN     NaN     9.588779     NaN
std        NaN     1.328435     NaN     NaN     NaN    13.048448     NaN
min        NaN     1.000000     NaN     NaN     NaN     0.000000     NaN
25%        NaN     4.000000     NaN     NaN     NaN     6.250000     NaN
50%        NaN     5.000000     NaN     NaN     NaN     8.000000     NaN
75%        NaN     5.000000     NaN     NaN     NaN    10.000000     NaN
max        NaN     8.000000     NaN     NaN     NaN    99.000000     NaN

         P17.2   P17.3   P17.4   P17.5   P17.6   P17.7   P17.8   P17.9  \
count   2806.0  2810.0  2637.0  2668.0  2707.0  2685.0  2571.0  2587.0
unique     3.0     3.0     3.0     3.0     3.0     3.0     3.0     3.0
top        1.0     1.0     1.0     2.0     1.0     2.0     1.0     2.0
freq    2088.0  2110.0  1507.0  1293.0  1273.0  1305.0  1493.0  1358.0
mean       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
std        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
min        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
25%        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
50%        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
75%        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
max        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

         P18.1   P18.2         Peso        Onda
count   2984.0  2974.0  3030.000000  3030.00000
unique     6.0     6.0          NaN         NaN
top        4.0     4.0          NaN         NaN
freq    1049.0  1046.0          NaN         NaN
mean       NaN     NaN     0.996175     5.49835
std        NaN     NaN     0.991488     0.50008
min        NaN     NaN     0.020000     5.00000
25%        NaN     NaN     0.250000     5.00000
50%        NaN     NaN     0.770000     5.00000
75%        NaN     NaN     1.360000     6.00000
max        NaN     NaN     7.090000     6.00000

Porcentagem de valores nulos por coluna:
P30       0.000000
ID        0.000000
UF        0.000000
F2        0.000000
F3        0.000000
F6        0.000000
P0.1      0.000000
P0.2      0.000000
P0.3      0.000000
P0.4      0.000000
P0.5      0.000000
P1        0.000000
P3        9.966997
P5        0.000000
P7        4.059406
P8_1      0.000000
P8_2      0.000000
P8_3      0.000000
P8_4      0.000000
P8_5      0.000000
P8_6      0.000000
P8_7      0.000000
P8_8      0.000000
P8_9      0.000000
P9_1      0.000000
P9_2      0.000000
P9_3      0.000000
P9_4      0.000000
P9_5      0.000000
P9_6      0.000000
P9_7      0.000000
P10       4.026403
P11       0.000000
P12       3.267327
P13       3.267327
P14       1.914191
P15       0.000000
P17.1     8.019802
P17.2     7.392739
P17.3     7.260726
P17.4    12.970297
P17.5    11.947195
P17.6    10.660066
P17.7    11.386139
P17.8    15.148515
P17.9    14.620462
P18.1     1.518152
P18.2     1.848185
Peso      0.000000
Onda      0.000000
dtype: float64

In [161]:
# Criar arquivo Excel com múltiplas abas
with ExcelWriter('Analise_Completa_Ponderada.xlsx') as writer:
    # 1. Análise Geral
    df_geral = calcular_estatisticas_ponderadas(base_filtrada, variaveis)
    df_geral.to_excel(writer, sheet_name='Geral', index=False)

    # 2. Análise por Grupos
    for grupo_nome, config in grupos_analise.items():
        # Filtrar o grupo
        grupo_df = base_filtrada[
            base_filtrada[config['variavel']] == config['valor']
        ].copy()

        # Calcular estatísticas para o grupo
        df_grupo = calcular_estatisticas_ponderadas(
            grupo_df,
            variaveis,
            grupo_nome=config['descricao']
        )

        # Salvar em aba separada
        df_grupo.to_excel(
            writer,
            sheet_name=config['descricao'][:31],  # Limite de caracteres do Excel
            index=False
        )

print("Análise completa exportada com sucesso!")

Análise completa exportada com sucesso!

In [162]:

# Análise da base_filtrada
print("\n--- Análise da df_geral ---")
print("\nHead da base filtrada:")
pd.set_option('display.max_columns', None)
print(df_geral.head())

print("\nEstatísticas descritivas:")
print(df_geral.describe(include='all'))

print("\nPorcentagem de valores nulos por coluna:")
print(df_geral.isnull().sum() * 100 / len(df_geral))

--- Análise da df_geral ---

Head da base filtrada:
  Variável  Grupo    Onda     N  Soma_Pesos     Média  Desvio_Padrão  \
0       F2  Geral  Onda 5  1520     1520.03  1.484010       0.499744
1       F2  Geral  Onda 6  1510     1498.38  1.479852       0.499594
2       F3  Geral  Onda 5  1520     1520.03  3.282968       1.214616
3       F3  Geral  Onda 6  1510     1498.38  3.273662       1.213551
4       F6  Geral  Onda 5  1520     1520.03  2.652481       1.114660

   Erro_Padrão
0     0.012818
1     0.012906
2     0.031154
3     0.031351
4     0.028590

Estatísticas descritivas:
       Variável  Grupo    Onda            N   Soma_Pesos      Média  \
count        92     92      92    92.000000    92.000000  92.000000
unique       46      1       2          NaN          NaN        NaN
top          F2  Geral  Onda 5          NaN          NaN        NaN
freq          2     92      46          NaN          NaN        NaN
mean        NaN    NaN     NaN  1440.217391  1424.890978   2.434434
std         NaN    NaN     NaN   125.945028   140.460260   1.502692
min         NaN    NaN     NaN  1061.000000  1008.430000   1.157171
25%         NaN    NaN     NaN  1421.000000  1387.422500   1.657289
50%         NaN    NaN     NaN  1510.000000  1498.380000   1.888189
75%         NaN    NaN     NaN  1520.000000  1520.030000   2.689794
max         NaN    NaN     NaN  1520.000000  1520.030000  12.030526

        Desvio_Padrão  Erro_Padrão
count       92.000000    92.000000
unique            NaN          NaN
top               NaN          NaN
freq              NaN          NaN
mean         0.942992     0.024797
std          2.096263     0.053741
min          0.102182     0.002621
25%          0.403441     0.010416
50%          0.497108     0.014513
75%          1.159560     0.030394
max         20.371995     0.522525

Porcentagem de valores nulos por coluna:
Variável         0.0
Grupo            0.0
Onda             0.0
N                0.0
Soma_Pesos       0.0
Média            0.0
Desvio_Padrão    0.0
Erro_Padrão      0.0
dtype: float64

In [163]:
# prompt: mostar o tipo das variáveis do base_filtrada

# Exibe o tipo de cada coluna no DataFrame 'base_filtrada'
base_filtrada.dtypes

P30        int64
ID         int64
UF        object
F2         int64
F3         int64
F6         int64
P0.1       int64
P0.2       int64
P0.3       int64
P0.4       int64
P0.5       int64
P1         int64
P3        object
P5         int64
P7        object
P8_1       int64
P8_2       int64
P8_3       int64
P8_4       int64
P8_5       int64
P8_6       int64
P8_7       int64
P8_8       int64
P8_9       int64
P9_1       int64
P9_2       int64
P9_3       int64
P9_4       int64
P9_5       int64
P9_6       int64
P9_7       int64
P10       object
P11        int64
P12       object
P13       object
P14       object
P15        int64
P17.1     object
P17.2     object
P17.3     object
P17.4     object
P17.5     object
P17.6     object
P17.7     object
P17.8     object
P17.9     object
P18.1     object
P18.2     object
Peso     float64
Onda       int64
dtype: object

In [164]:
# prompt: usando a base_filtrada, mostrar os valores únicos das variáveis P3,P7,P10,P12,P13,P14,P17.1,
# P17.2,
# P17.3,
# P17.4,
# P17.5,
# P17.6,
# P17.7,
# P17.8,
# P17.9,
# P18.1,
# P18.2,

# Mostrar valores únicos para as variáveis especificadas
variaveis_para_analise = ['P3', 'P7', 'P10', 'P12', 'P13', 'P14', 'P17.1', 'P17.2', 'P17.3', 'P17.4', 'P17.5', 'P17.6', 'P17.7', 'P17.8', 'P17.9', 'P18.1', 'P18.2']

for variavel in variaveis_para_analise:
  if variavel in base_filtrada.columns:
    print(f"Valores únicos para a variável {variavel}: {base_filtrada[variavel].unique()}")
  else:
    print(f"Variável '{variavel}' não encontrada no DataFrame.")

Valores únicos para a variável P3: [3 1 <NA> 4 2 5 'NA']
Valores únicos para a variável P7: [2 1 5 4 <NA> 3 'NA']
Valores únicos para a variável P10: [2 5 3 1 4 <NA> 'NA']
Valores únicos para a variável P12: [5 4 2 3 1 <NA> 'NA']
Valores únicos para a variável P13: [3 2 1 4 5 <NA> 'NA']
Valores únicos para a variável P14: [2 5 4 3 1 <NA> 'NA']
Valores únicos para a variável P17.1: [1 <NA> 2 'NA']
Valores únicos para a variável P17.2: [2 1 <NA> 'NA']
Valores únicos para a variável P17.3: [2 1 <NA> 'NA']
Valores únicos para a variável P17.4: [2 1 <NA> 'NA']
Valores únicos para a variável P17.5: [1 <NA> 2 'NA']
Valores únicos para a variável P17.6: [1 2 <NA> 'NA']
Valores únicos para a variável P17.7: [2 1 <NA> 'NA']
Valores únicos para a variável P17.8: [<NA> 1 2 'NA']
Valores únicos para a variável P17.9: [1 <NA> 2 'NA']
Valores únicos para a variável P18.1: [5 4 3 2 1 <NA> 'NA']
Valores únicos para a variável P18.2: [3 5 4 2 1 <NA> 'NA']